@tailwind base;
@tailwind components;
@tailwind utilities;

#img-background {
  background-image: url("../assets/images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#img-card-back {
  background-image: url("../assets/images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#img-card-front {
  background-image: url("../assets/images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 768px) {
  #img-background {
    background-image: url("../assets/images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
